@model RegisterDto
@{
    ViewData["Title"] = "Forgot Page";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Forgot Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Register start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Forgot Password</h2>
                            <span>Please write your account's email.</span>
                        </div>
                        <div class="login-form">
                            <form action="#" method="post">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                                <input type="text" name="email" placeholder="Email">
                                <div class="button-box">
                                    <button style="width:100%;" type="submit" class="default-btn w-100">Send Email</button>
                                </div>

                            </form>
                            <div class="w-100 mt-4">
                                <a class="default-btn d-block w-100" asp-controller="account" asp-action="Login" style="
    width: 100%;
    text-align: center;
    margin-top: 17px;
">Login</a>
                            </div>
                            <div class="w-100 mt-4">
                                <a class="default-btn d-block w-100" asp-controller="account" asp-action="Register" style="
    width: 100%;
    text-align: center;
    margin-top: 17px;
">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->
